In [79]:
import pandas as pd
import os

In [80]:
df감우리 = pd.read_csv("C:\\Users\\kelly\\Desktop\\GitHub\\predict_energy\\태양광\\1. 데이터 전처리 및 EDA\\추가 발전소\\감우리(충주, 제천, 청주)\\감우리 최종.csv", encoding = "utf-8")
df감우리 = df감우리.drop(columns=["지점"])
df_cols = ["지점명", "일시"]
df감우리 = df감우리[df_cols + ['기온(°C)', '강수량(mm)', '풍속(m/s)', '풍향(16방위)', '습도(%)',
       '현지기압(hPa)', '일조(hr)', '일사(MJ/m2)', '적설(cm)', '전운량(10분위)']]
df감우리.head(3)

,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,충주,2021-08-01 00:00:00,25.7,NaN,0.5,90.0,87.0,988.2,NaN,NaN,NaN,4.0
1,충주,2021-08-01 01:00:00,25.7,NaN,0.9,90.0,87.0,988.1,NaN,NaN,NaN,3.0
2,충주,2021-08-01 02:00:00,25.1,NaN,0.7,110.0,89.0,987.9,NaN,NaN,NaN,3.0

In [81]:
df광양 = pd.read_csv("C:\\Users\\kelly\\Desktop\\GitHub\\predict_energy\\태양광\\1. 데이터 전처리 및 EDA\\추가 발전소\\광양(광양21.1-24.6)\\광양20210101-20240701 최종.csv", encoding = "utf-8")
df광양 = df광양.drop(columns = ["지점"])
df광양.head(3)

,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,광양시,2021-01-01 00:00:00,-0.4,NaN,1.9,270.0,71.0,1015.1,NaN,NaN,NaN,9.0
1,광양시,2021-01-01 01:00:00,-1.6,NaN,3.4,290.0,58.0,1015.2,NaN,NaN,NaN,0.0
2,광양시,2021-01-01 02:00:00,-2.4,NaN,1.6,290.0,59.0,1015.3,NaN,NaN,NaN,0.0

In [82]:
df서귀포 = pd.read_csv("C:\\Users\\kelly\\Desktop\\GitHub\\predict_energy\\태양광\\1. 데이터 전처리 및 EDA\\추가 발전소\\남제주소내(서귀포13.1-25.2)\\서귀포20130101-20250301 최종.csv", encoding = "utf-8")
df서귀포 = df서귀포.drop(columns = ["지점"])
df서귀포.head(3)

,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,서귀포,2013-01-01 00:00,4.2,NaN,1.1,320.0,56.0,1015.1,NaN,NaN,NaN,8.0
1,서귀포,2013-01-01 01:00,4.0,NaN,1.3,320.0,60.0,1015.0,NaN,NaN,NaN,NaN
2,서귀포,2013-01-01 02:00,4.0,NaN,2.6,320.0,76.0,1015.1,NaN,NaN,NaN,NaN

In [83]:
df목포 = pd.read_csv("C:\\Users\\kelly\\Desktop\\GitHub\\predict_energy\\태양광\\1. 데이터 전처리 및 EDA\\추가 발전소\\농촌공진도(목포13.1-25.2)\\목포병합.csv", encoding = "utf-8")
df목포 = df목포.drop(columns = ["지점"])
df목포.head(3)

,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,목포,2013-01-01 00:00,-2.0,NaN,4.1,160.0,93.0,1016.5,NaN,NaN,6.2,3.0
1,목포,2013-01-01 01:00,-2.2,NaN,3.7,160.0,95.0,1016.4,NaN,NaN,6.2,NaN
2,목포,2013-01-01 02:00,-2.4,NaN,3.6,160.0,95.0,1016.3,NaN,NaN,6.2,NaN

In [84]:
df서산 = pd.read_csv("C:\\Users\\kelly\\Desktop\\GitHub\\predict_energy\\태양광\\1. 데이터 전처리 및 EDA\\추가 발전소\\당진자재창고(21.1-24.6)\\서산 병합.csv", encoding = "utf-8")
df서산 = df서산.drop(columns = ["Unnamed: 0"])
df서산.head(3)

,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,서산,2021-01-01 00:00,-6.0,0.0,0.4,0.0,91.0,1024.3,NaN,NaN,2.8,7.0
1,서산,2021-01-01 01:00,-5.7,NaN,0.2,0.0,91.0,1024.3,NaN,NaN,3.2,6.0
2,서산,2021-01-01 02:00,-6.0,NaN,0.0,0.0,92.0,1024.4,NaN,NaN,3.2,6.0

In [85]:
df부산 = pd.read_csv("C:\\Users\\kelly\\Desktop\\GitHub\\predict_energy\\태양광\\1. 데이터 전처리 및 EDA\\추가 발전소\\부산(13.1-25.2)\\부산 병합.csv", encoding = "utf-8")
df부산 = df부산.drop(columns = ["Unnamed: 0","지점"])
df부산.head(3)

,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,부산,2025-01-01 01:00,2.6,NaN,4.2,290,25,1012.7,NaN,NaN,NaN,0
1,부산,2025-01-01 02:00,2.4,NaN,7.0,320,26,1012.7,NaN,NaN,NaN,0
2,부산,2025-01-01 03:00,2.1,NaN,4.1,290,28,1013.3,NaN,NaN,NaN,0

In [86]:
df삼척소 = pd.read_csv("C:\\Users\\kelly\\Desktop\\GitHub\\predict_energy\\태양광\\1. 데이터 전처리 및 EDA\\추가 발전소\\삼척소(18.01-25.02)\\삼척소 병합.csv", encoding = "utf-8")
df삼척소 = df삼척소.drop(columns = ["Unnamed: 0"])
df삼척소.head(3)

,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,동해,2017-01-01 01:00,3.9,NaN,1.2,180.0,57.0,1021.8,NaN,NaN,NaN,NaN
1,동해,2017-01-01 02:00,4.1,NaN,1.5,230.0,54.0,1021.9,NaN,NaN,NaN,NaN
2,동해,2017-01-01 03:00,4.9,NaN,0.9,230.0,52.0,1022.2,NaN,NaN,NaN,NaN

In [87]:
df송당리 = pd.read_csv("C:\\Users\\kelly\\Desktop\\GitHub\\predict_energy\\태양광\\1. 데이터 전처리 및 EDA\\추가 발전소\\송당리(19.12-25.2)\\제주 병합.csv", encoding = "utf-8")
df송당리 = df송당리.drop(columns = ["Unnamed: 0"])
df송당리.head(3)

,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,제주,2019-01-01 01:00,5.2,NaN,3.8,290.0,63.0,1032.2,NaN,NaN,NaN,9.0
1,제주,2019-01-01 02:00,5.7,NaN,4.2,320.0,60.0,1032.3,NaN,NaN,NaN,9.0
2,제주,2019-01-01 03:00,5.8,NaN,4.6,290.0,59.0,1032.9,NaN,NaN,NaN,9.0

In [88]:
df수원 = pd.read_csv("C:\\Users\\kelly\\Desktop\\GitHub\\predict_energy\\태양광\\1. 데이터 전처리 및 EDA\\추가 발전소\\수원환경사업소(21.01-23.06)\\수원 병합.csv", encoding = "utf-8")
df수원 = df수원.drop(columns = ["Unnamed: 0"])
df수원.head(3)

,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,수원,2021-01-01 01:00,-8.6,NaN,0.9,320.0,85.0,1022.5,NaN,NaN,NaN,0.0
1,수원,2021-01-01 02:00,-9.8,NaN,1.4,230.0,87.0,1022.6,NaN,NaN,NaN,0.0
2,수원,2021-01-01 03:00,-9.8,NaN,1.0,250.0,83.0,1023.1,NaN,NaN,NaN,0.0

In [89]:
df신풍리 = pd.read_csv("C:\\Users\\kelly\\Desktop\\GitHub\\predict_energy\\태양광\\1. 데이터 전처리 및 EDA\\추가 발전소\\신풍리(21.05-25.02)\\천안 병합.csv", encoding = "utf-8")
df신풍리 = df신풍리.drop(columns = ["Unnamed: 0"])
df신풍리.head(3)

,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,천안,2021-01-01 01:00,-9.6,NaN,0.4,0.0,95.0,1017.6,NaN,NaN,1.0,0.0
1,천안,2021-01-01 02:00,-10.0,NaN,0.3,0.0,94.0,1017.6,NaN,NaN,1.0,0.0
2,천안,2021-01-01 03:00,-11.0,0.0,0.2,0.0,94.0,1018.2,NaN,NaN,1.0,0.0

In [90]:
df영월 = pd.read_csv("C:\\Users\\kelly\\Desktop\\GitHub\\predict_energy\\태양광\\1. 데이터 전처리 및 EDA\\추가 발전소\\영월(13.01-25.02)\\영월 병합.csv", encoding = "utf-8")
df영월 = df영월.drop(columns = ["Unnamed: 0"])
df영월.head(3)

,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,영월,2013-01-01 01:00,-12.5,NaN,0.3,0.0,85.0,991.5,NaN,NaN,NaN,NaN
1,영월,2013-01-01 02:00,-13.3,NaN,0.3,0.0,87.0,991.7,NaN,NaN,NaN,NaN
2,영월,2013-01-01 03:00,-13.9,NaN,1.0,320.0,86.0,991.9,NaN,NaN,NaN,NaN

In [91]:
df울산 = pd.read_csv("C:\\Users\\kelly\\Desktop\\GitHub\\predict_energy\\태양광\\1. 데이터 전처리 및 EDA\\추가 발전소\\울산태양광(21.01-24.06)\\울산 병합.csv", encoding = "utf-8")
df울산 = df울산.drop(columns = ["Unnamed: 0"])
df울산.head(3)

,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,울산,2020-01-01 01:00,-3.3,NaN,2.2,320,25.0,1019.7,NaN,NaN,NaN,0.0
1,울산,2020-01-01 02:00,-3.6,NaN,3.0,320,25.0,1019.6,NaN,NaN,NaN,0.0
2,울산,2020-01-01 03:00,-3.3,NaN,2.4,320,33.0,1019.4,NaN,NaN,NaN,0.0

In [92]:
df이천 = pd.read_csv("C:\\Users\\kelly\\Desktop\\GitHub\\predict_energy\\태양광\\1. 데이터 전처리 및 EDA\\추가 발전소\\이천(21.02-25.02)\\이천 병합.csv", encoding = "utf-8")
df이천 = df이천.drop(columns = ["Unnamed: 0"])
df이천.head(3)

,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,이천,2021-01-01 01:00,-10.3,NaN,1.0,50.0,84.0,1017.6,NaN,NaN,NaN,0.0
1,이천,2021-01-01 02:00,-11.1,NaN,0.5,70.0,86.0,1017.7,NaN,NaN,NaN,0.0
2,이천,2021-01-01 03:00,-10.5,NaN,0.7,290.0,85.0,1018.2,NaN,NaN,NaN,0.0

In [93]:
df익산 = pd.read_csv("C:\\Users\\kelly\\Desktop\\GitHub\\predict_energy\\태양광\\1. 데이터 전처리 및 EDA\\추가 발전소\\익산(24.01-24.10)\\군산20240101-20250101.csv", encoding = "utf-8")
df익산 = df익산.drop(columns = ["지점"])
df익산.head(3)

,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,군산,2024-01-01 01:00,3.5,NaN,1.3,320.0,82.0,1024.0,NaN,NaN,NaN,5
1,군산,2024-01-01 02:00,3.5,NaN,0.7,20.0,82.0,1024.3,NaN,NaN,NaN,2
2,군산,2024-01-01 03:00,3.3,NaN,0.2,0.0,83.0,1024.9,NaN,NaN,NaN,4

In [94]:
df인천 = pd.read_csv("C:\\Users\\kelly\\Desktop\\GitHub\\predict_energy\\태양광\\1. 데이터 전처리 및 EDA\\추가 발전소\\인천(13.1-25.2)\\인천 병합.csv", encoding = "utf-8")
df인천 = df인천.drop(columns = ["Unnamed: 0"])
df인천.head(3)

,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,인천,2013-01-01 01:00,-6.9,NaN,2.1,110.0,75.0,1011.7,NaN,NaN,3.9,NaN
1,인천,2013-01-01 02:00,-6.7,NaN,2.6,140.0,77.0,1011.2,NaN,NaN,3.9,NaN
2,인천,2013-01-01 03:00,-6.5,NaN,3.0,110.0,80.0,1010.5,NaN,NaN,3.9,7.0

In [95]:
df하동 = pd.read_csv("C:\\Users\\kelly\\Desktop\\GitHub\\predict_energy\\태양광\\1. 데이터 전처리 및 EDA\\추가 발전소\\하동(13.01-25.02)\\진주 병합.csv", encoding = "utf-8")
df하동 = df하동.drop(columns = ["Unnamed: 0"])
df하동.head(3)

,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,진주,2013-01-01 01:00,-8.1,NaN,0.0,0.0,90.0,1018.2,NaN,NaN,4.0,NaN
1,진주,2013-01-01 02:00,-8.7,NaN,0.4,0.0,90.0,1018.6,NaN,NaN,4.0,NaN
2,진주,2013-01-01 03:00,-9.0,NaN,0.1,0.0,92.0,1018.6,NaN,NaN,4.0,0.0

In [96]:
df_list = [df감우리, df광양, df서귀포, df목포, df서산, df부산, df삼척소, df송당리, df수원, df신풍리, df영월, df울산, df이천, df익산, df인천, df하동]
df_통합 = pd.concat(df_list, ignore_index=True)

In [97]:
# 중복 제거 (같은 행이 두 번 들어간 경우)
df_통합 = df_통합.drop_duplicates()
df_통합.head(3)

,지점명,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,충주,2021-08-01 00:00:00,25.7,NaN,0.5,90.0,87.0,988.2,NaN,NaN,NaN,4.0
1,충주,2021-08-01 01:00:00,25.7,NaN,0.9,90.0,87.0,988.1,NaN,NaN,NaN,3.0
2,충주,2021-08-01 02:00:00,25.1,NaN,0.7,110.0,89.0,987.9,NaN,NaN,NaN,3.0

In [98]:
df_통합["지점명"].unique()

array(['충주', '광양시', '서귀포', '목포', '서산', '부산', '동해', '제주', '수원', '천안', '영월',
       '울산', '이천', '군산', '인천', '진주'], dtype=object)

In [99]:
df_통합.info()

<class 'pandas.core.frame.DataFrame'>
Index: 904535 entries, 0 to 904562
Data columns (total 12 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   지점명        904535 non-null  object
 1   일시         904535 non-null  object
 2   기온(°C)     904324 non-null  float64
 3   강수량(mm)    89005 non-null   float64
 4   풍속(m/s)    904114 non-null  float64
 5   풍향(16방위)   902838 non-null  float64
 6   습도(%)      903787 non-null  float64
 7   현지기압(hPa)  904134 non-null  float64
 8   일조(hr)     491559 non-null  float64
 9   일사(MJ/m2)  287384 non-null  float64
 10  적설(cm)     21032 non-null   float64
 11  전운량(10분위)  751227 non-null  float64
dtypes: float64(10), object(2)
memory usage: 89.7+ MB

In [100]:
df_통합["일시"].unique()

array(['2021-08-01 00:00:00', '2021-08-01 01:00:00',
       '2021-08-01 02:00:00', ..., '2018-04-04 10:00', '2018-04-04 11:00',
       '2015-06-27 05:00'], dtype=object)

In [101]:
# 1. 문자열 자르기: 초(:SS)가 있으면 잘라내고, 없으면 그대로 유지
df_통합["일시"] = df_통합["일시"].astype(str).str.slice(0, 16)  # 앞에서 16글자만 자름 → YYYY-MM-DD HH:MM

In [102]:
# 2. 문자열을 datetime으로 변환
df_통합["일시"] = pd.to_datetime(df_통합["일시"], format="%Y-%m-%d %H:%M", errors="raise")

In [103]:
df_통합["일시"].unique()

<DatetimeArray>
['2021-08-01 00:00:00', '2021-08-01 01:00:00', '2021-08-01 02:00:00',
 '2021-08-01 03:00:00', '2021-08-01 04:00:00', '2021-08-01 05:00:00',
 '2021-08-01 06:00:00', '2021-08-01 07:00:00', '2021-08-01 08:00:00',
 '2021-08-01 09:00:00',
 ...
 '2018-04-04 03:00:00', '2018-04-04 04:00:00', '2018-04-04 05:00:00',
 '2018-04-04 06:00:00', '2018-04-04 07:00:00', '2018-04-04 08:00:00',
 '2018-04-04 09:00:00', '2018-04-04 10:00:00', '2018-04-04 11:00:00',
 '2015-06-27 05:00:00']
Length: 106609, dtype: datetime64[ns]

In [104]:
df_통합["year"] = df_통합["일시"].dt.year
df_통합["month"] = df_통합["일시"].dt.month
df_통합["day"] = df_통합["일시"].dt.day
df_통합["weekday"] = df_통합["일시"].dt.weekday
df_통합["시간"] = df_통합["일시"].dt.hour

df_통합 = df_통합.drop(columns=["일시"])

In [105]:
df_통합.head(3)

,지점명,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위),year,month,day,weekday,시간
0,충주,25.7,NaN,0.5,90.0,87.0,988.2,NaN,NaN,NaN,4.0,2021,8,1,6,0
1,충주,25.7,NaN,0.9,90.0,87.0,988.1,NaN,NaN,NaN,3.0,2021,8,1,6,1
2,충주,25.1,NaN,0.7,110.0,89.0,987.9,NaN,NaN,NaN,3.0,2021,8,1,6,2

In [107]:
df_통합.columns

Index(['지점명', '기온(°C)', '강수량(mm)', '풍속(m/s)', '풍향(16방위)', '습도(%)', '현지기압(hPa)',
       '일조(hr)', '일사(MJ/m2)', '적설(cm)', '전운량(10분위)', 'year', 'month', 'day',
       'weekday', '시간'],
      dtype='object')

In [108]:
cols = ["지점명", "year", "month", "day", "weekday", "시간"]
df_통합 = df_통합[cols + ['기온(°C)', '강수량(mm)', '풍속(m/s)', '풍향(16방위)', '습도(%)', '현지기압(hPa)',
       '일조(hr)', '일사(MJ/m2)', '적설(cm)', '전운량(10분위)']]
df_통합.head(3)

,지점명,year,month,day,weekday,시간,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위)
0,충주,2021,8,1,6,0,25.7,NaN,0.5,90.0,87.0,988.2,NaN,NaN,NaN,4.0
1,충주,2021,8,1,6,1,25.7,NaN,0.9,90.0,87.0,988.1,NaN,NaN,NaN,3.0
2,충주,2021,8,1,6,2,25.1,NaN,0.7,110.0,89.0,987.9,NaN,NaN,NaN,3.0

In [ ]:
df_통합.to_csv("추가발전소_기상데이터.csv", encoding = "utf-8")